<table border="1">
	<tr>
		<th>Ime</th>
		<th>Vrsta</th>
		<th>Datum rodjenja</th>
		<th></th>
	</tr>
	<tr *ngFor="let animal of animals">
		<td> {{ animal.name }} </td>
		<td> {{ animal.species }} </td>
		<td> {{ birth(animal) }} </td>
		<td><button (click)="remove(animal)">remove</button> </td>
		<td><button (click)="moveToTop(animal)">move to top</button> </td>
</tr>
</table>
<!-- 
<form>
<input name = "name" [(ngModel)] = "nameAnimal.name">
<input name = "species" [(ngModel)] = "nameAnimal.species">
<input name = "dateOfBirth" [(ngModel)] = "nameAnimal.dateOfBirth">
<button (click)="addAnimal()">Add new animal</button>
</form> -->